### DotnetCore ###
# .NET Core build folders

src/Api.Application/bin
src/Api.Application/obj

src/Api.Data/bin
src/Api.Data/obj

src/Api.Domain/bin
src/Api.Domain/obj

src/Api.CrossCutting/bin
src/Api.CrossCutting/obj

src/Api.Service/bin
src/Api.Service/obj

src/Api.Tests/bin
src/Api.Tests/obj

.vscode


